*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
.idea

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*

*/native/*
*/*/native/*
*/*/*/native/*

*_ReSharper.*/

*/*/Resource.designer.cs
*/*/*/Resource.designer.cs
*/*/*/*/Resource.designer.cs

xamarin-component/
LocalyticsXamarin/.gradle
LocalyticsXamarin/packages
*.nuspec
LocalyticsXamarin/dist
.vscode
